$primaryColor: #2584ff;
$secondaryColor: #00d9ff;
$accentColor: #ff3400;
$headingColor: #1b0760;
$bodyColor: #918ca4;

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography*/

html {
    font-size: 62.5%;
}
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: $bodyColor;
    line-height: 1.5;
    font-size: 2.4rem;
}

h1, h2, h3 {
    color: $headingColor;
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}

/*Links*/
a {
    text-decoration: none;
}
.link-arrow {
    color: $accentColor;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.25s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}


/*Badges*/

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: $primaryColor;
    color: #fff;
}

.badge--secondary {
    background: $secondaryColor;
    color: #fff;
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}

/*Lists*/

.list {
    list-style: none;
    padding-left: 0;
    color: $headingColor;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/*Icons*/

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: $primaryColor;
}

.icon-container {
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
}

/*Buttons*/

.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background: $primaryColor;
    color: #fff;
}

.btn--primary:hover {
    background: lighten($primaryColor, 10%);
}

.btn--secondary {
    background: $secondaryColor;
    color: #fff;
}

.btn--srcondary:hover {
    background: lighten($secondaryColor, 10%);
}

.btn--accent {
    background: $accentColor;
    color: #fff;
}

.btn--accent:hover {
    background: lighten($accentColor, 10%);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--outline {
    background: #fff;
    color: $headingColor;
    border: 2px solid $headingColor;
}

.btn--outline:hover {
    background-color: $headingColor;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}