<header class="block__header">
    <section class="block container">
        <h2 class="block__header">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolores, nulla tempore voluptatem culpa
             possimus dignissimos. Minus, soluta adipisci.</p>
    </section>
</header>
<header class="block__header">
    <section class="block block--dark block--skewed-left">
        <div class="container">
            <h2 class="block__header">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolores, nulla tempore voluptatem culpa
                    possimus dignissimos. Minus, soluta adipisci.</p>
        </div>
    </section>
</header>